nav {
  display: flex;
  padding: 12px;
  background: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: red;
}

nav a {
  display: block;
  margin: 0px 12px;
  background: white;
  padding: 6px 12px;
  color: red;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 6px;
}

nav a:first-child {
  background: red;
  color: white;
  font-weight: bold;
}
