nav {
  display: flex;
  padding: 12px;
  background: #ffc8c8;
}

nav a {
  display: block;
  margin: 0px 12px;
  background: white;
  padding: 6px 12px;
  color: #bbbbbb;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 6px;
}

nav a:first-child {
  background: white;
  color: #f7a4a4;
  font-weight: bold;
}
