.login-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-info {
  margin: 12px 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Put this button on global scope */
.buttons {
  background: red;
  color: white;
  outline: none;
  padding: 12px 6px;
  font-size: 1.2rem;
  cursor: pointer;
}
